/*
* File: style.css
* Author: Vámosi László Ádám
* Copyright: 2025, Vámosi László Ádám
* Group: Szoft I-N
* Date: 2025-04-16
* GitHub: https://github.com/vamosilaszloadam/
* Licenc: MIT
*/

.container, .container-fluid{
    background-image: linear-gradient(to bottom right, #BBF, #EEF);
    min-height: 100dvh;
    border: solid 1px #004;
    border-radius: 3px;
    color: #004;
    padding: 20px;
    text-shadow: 2px 2px 10px #88A;
}

.about{
    background-image: linear-gradient(#BBF, #EEF, #BBF);
    padding: 5px;
    border-radius: 6px;
    text-align: center;
    border: solid 3px #BBD;
}